body{
    background-color: rgb(47, 47, 155);
}

.contenedor{
    width: 100%;
    height: 1400px;
}

.encabezado{
    background-color: rgb(51, 18, 18);
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
}

.menu{
    margin-top: 20px;
    display: flex;
    border: 2px solid rgb(82, 13, 13);
    border-radius: 5px;
    width: 20%;
    padding: 10px;
}

.forma{
    display: flex;
    align-items: center;
}

.coco{
    align-items: center;

}

.opcion{
    padding: 0 150px 